body {
    text-align: center;
    background-color: #000;
    color: #fff;
    /* border: solid #fff; */
}

img {
    width: 30%;
    border: solid #fff;
}

input {
    width: auto;
}

#money_input{
    width: 25ch;
}

/*can use classList in JS to change css*/
.hidden {
    display: none;
}

/*make donate button invisible*/
#donate {
   display: none;
   width: auto;
}



