body{
    background:#d30909;
  }

.page-sections{
    width: 50%;
    height: 20%;
    position: absolute;
    outline: 1px solid #fff
  }

#main-header {
    color: #fff;
    font-family:sans-serif;
  }

#first #main-header{
    position:relative;
    text-align: center;
    margin: 10% 10%;
    color: rgb(255, 255, 255);
  }
  
#first:hover{
    margin:0;
  letter-spacing: normal};
  

  
  #sub-header{
    text-align: center;
    color: #fff;
    font-family:sans-serif;
  }
  